<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Food Fairy</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <!-- Header -->
    <header>
        <div class="logo">
            <a href="/">food</a> 
        </div>
        <nav>
            <ul>
                <li><a href="/distributionCenters">Distribution Centers</a></li>
                <li><a href="/beneficiaries">Beneficiaries</a></li>
                <li><a href="/donors">Donors</a></li>
                <li><a href="/admin/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        <div class="description">
            <h1>Welcome to the Admin Dashboard</h1>
            <p>Manage delivery records and donor registrations here.</p>
            <div class="card">
                <h2>Quick Links</h2>
                <a href="./adminManager/distroview" class="btn">Distribution Centers</a>
                <a href="/beneficiaries" class="btn">Beneficiaries</a>
                <a href="/donors" class="btn">Donors</a>
                <a href="/deliveryRecords" class="btn">Delivery Records</a>
                <a href="/admin/distroForm" class="btn">Add Distribution Center</a>
                <a href="/admin/beneform" class="btn">Add Beneficiaries</a>
                <a href="/admin/donorform" class="btn">Add Donors</a>

            </div>
        </div>

       
    </main>
</div>
</body>
</html>
