<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Food Fairy</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>


<!-- Navigation Bar -->
 <div class="container">
    <header>
        <div class="logo">
            <a href="/">food</a> <!-- Link to homepage -->
        </div>
<nav>
    <ul>
        <li><a href="/distributionCenters">Distribution Centers</a></li>
        <li><a href="/beneficiaries">Beneficiaries</a></li>
        <li><a href="/donors">Donors</a></li>
       
        <li> <a href="/admin/logout">Logout</a></li>
    </ul>
</nav>


</header>

  <h1>Welcome to the Admin Dashboard</h1>
  <p>Manage delivery records and donor registrations here.</p>

  <a href="./adminManager/distroview">Distribution Centers</a>
  <a href="/beneficiaries">Beneficiaries</a>
  <a href="/donors">Donors</a>

 <a href="/deliveryRecords">Delivery Records</a><br>.



    
    <a href="/distributionCenters">add donors</a>
    <a href="./beneform">add Beneficiaries</a>
    <a href="/donors">add Donors</a>
    <a href="/deliveryRecords">Delivery Records</a>
       
   

  
 
  
</body>
</html>
