<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - The Food Fairy</title>
    <link  href="../public/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">The Food Fairy</span></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/donors">Donors</a></li>
                    <li><a href="/beneficiaries">Beneficiaries</a></li>
                    <li><a href="/distribution-centers">Centers</a></li>
                    <li><a href="/food-types">Food Types</a></li>
                    <li><a href="/delivery-records">Deliveries</a></li>
                    
                        <li><a href="/auth/logout">Logout</a></li>
                
                        <li><a href="/auth/login">Login</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        
            <div class="alert alert-success"></div>
        
        
            <div class="alert alert-error"></div>
    
        
    </div>

    <footer>
        <p>&copy; 2024 The Food Fairy. Spreading magic in communities.</p>
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>